<div class="chronica-importer-journal npc">
    <h2>Description</h2>
    {{{ npc.description }}}
    <h2>Disposition</h2>
    <span>{{ npc.disposition }}</span>
    <h2>Notes</h2>
    {{{ npc.notes }}}
    <h2>Entity type</h2>
    <span>{{ npc.entity_type }}</span>
</div>