<h2>Description</h2>
{{{ place.description }}}
<p>&nbsp;</p>
<h2>Notes</h2>
{{{ place.notes }}}
<p>&nbsp;</p>
<h2>Location</h2>
{{ place.location }}
<p>&nbsp;</p>
<h2>Position</h2>
{{ place.position }}